.div-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 650px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 50px;
}

.cat-links {
  background-color: rgb(0, 0, 0);
  width: 31%;
  height: 30%;
  margin: 3px;
}

/* how to center text in the middle of the box */

.category {
  text-decoration: none;
  font-size: 28px;
  color: white;
  padding-top: 35px;
  font-family: "Staatliches", cursive;
}

@media screen and (max-width: 500px) {
  .div-container {
    /* weird spacing to the right */
    margin-left: 60px;
    margin-right: 0px;
    height: 1300px;
  }
  .category {
    font-size: 25px;
  }
  .cat-links {
    width: 90%;
    height: 9%;
    margin-bottom: 20px;
  }
}
