.cards-container {
  background-color: rgb(0, 0, 0);

  /* grid-template-areas:
    "S C"
    "S C"
    "S C";

  grid-template-columns: 150px 1fr; */

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
}
.flippy-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%;
  height: 300px;
  max-width: 400px;
}
.flashcard {
  /* background-color: rgb(92, 52, 52); */

  order: 0;
  flex: 2 1 auto;
  align-self: auto;
  padding: 40px;
}

.sidebar {
  background-color: rgb(255, 255, 255);
  /* grid-area: S; */

  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;

  /* height: 300px; */

  margin-top: 10px;
}

.resources {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.sidebar-buttons {
  background-color: black;
  color: white;
  height: 50px;
  border-radius: 10px;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
.button-words {
  color: white;
}
