.cards-container {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 60%;
}

.topbar-container {
  width: 100%;
}

.flippy-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 300px;

  margin-left: 50px;
  margin-right: 50px;

  max-width: 600px;
}
.margin-control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.flippy-back,
.flippy-front {
  display: flex;
  align-items: center;
}

.flippy-front h2 {
  font-size: 45px;
  font-family: "Staatliches", cursive;
}

.flippy-back {
  font-size: 22px;
}
.flashcard {
  order: 0;
  flex: 2 1 auto;
  align-self: auto;
}
.topbar {
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 10px;

  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

a.resources {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  word-wrap: break-word;
  max-width: 90vw;
  text-overflow: ellipsis;
}

a.resources:hover {
  text-decoration: underline;
}
li.resources-m {
  margin-bottom: 15px;
}
.resources-container {
  list-style-type: none;
  overflow: wrap;
  margin: 15px;
}
.topbar-buttons {
  background-color: black;
  color: white;
  height: 50px;
  border-radius: 10px;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  outline: none;
}
.button-words {
  color: white;
}

@media screen and (max-width: 850px) {
  .cards-container {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .topbar-buttons {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  a.resources {
    font-size: 14px;
    /* margin-bottom: 20px; */
    max-width: 90vw;
    word-wrap: break-word;
  }

  .flashcard {
    padding: 5px;
    font-size: 14px;
  }

  .resources-container {
    max-width: 90%;
    overflow: wrap;
    list-style-type: disc;
    margin: 5px;
  }
}
