.cards-container {
  background-color: rgb(0, 0, 0);

  /* grid-template-areas:
    "S C"
    "S C"
    "S C";

  grid-template-columns: 150px 1fr; */

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* margin-left: 50px;
  margin-right: 50px; */
  width: 100%;
}
.sidebar-container {
  width: 100%;
}

.flippy-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 350px;

  margin-left: 50px;
  margin-right: 50px;

  max-width: 400px;
}
.flashcard {
  /* background-color: rgb(92, 52, 52); */

  order: 0;
  flex: 2 1 auto;
  align-self: auto;
  padding: 40px;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  background-color: rgb(255, 255, 255);
  /* grid-area: S; */
  width: 100%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;

  /* height: 300px; */

  margin-top: 10px;
}

.resources {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* padding-right: 5px; */

  text-align: center;
}

.resources:hover {
  text-decoration: underline;
}
.resources-container {
  /* list-style-type: none; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center; */
}
.sidebar-buttons {
  background-color: black;
  color: white;
  height: 50px;
  border-radius: 10px;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
.button-words {
  color: white;
}

@media screen and (max-width: 500px) {
  .resources {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .flashcard {
    padding: 5px;
    font-size: 14px;
  }

  .flippy-container {
    height: 400px;
  }
}
